/* ==============================
   NAVBAR
============================== */

.header{
    width:100%;
    background:#ffffff;
    box-shadow:0 3px 15px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    height:85px;
}

/* ==============================
   LOGO
============================== */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:55px;
    height:55px;
    border-radius:50%;
    object-fit:cover;
}

.logo h2{
    color:#111;
    font-size:26px;
    font-weight:700;
}

.logo span{
    color:#C1282A;
}

/* ==============================
   MENU
============================== */

nav ul{

    display:flex;
    gap:35px;

    list-style:none;
}

nav ul li a{

    text-decoration:none;

    color:#333;

    font-weight:500;

    transition:.3s;
}

nav ul li a:hover{

    color:#C1282A;
}

/* ==============================
   BUTTONS
============================== */

.nav-buttons{

    display:flex;

    gap:15px;
}

.btn-login{

    padding:10px 25px;

    border:2px solid #C1282A;

    color:#C1282A;

    border-radius:8px;

    text-decoration:none;

    font-weight:600;

    transition:.3s;
}

.btn-login:hover{

    background:#C1282A;

    color:#fff;
}

.btn-register{

    padding:10px 25px;

    background:linear-gradient(180deg,#C1282A 0%,#850002 100%);

    color:#fff;

    border-radius:8px;

    text-decoration:none;

    font-weight:600;

    transition:.3s;
}

.btn-register:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 20px rgba(193,40,42,.3);
}
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-logo img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.navbar-logo h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}