.home{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(180deg,#C1282A 0%,#850002 100%);
    color:#fff;
    text-align:center;
}

.home h1{
    font-size:55px;
    margin-bottom:20px;
}

.home p{
    font-size:20px;
    margin-bottom:35px;
}

.home-btn{
    background:#fff;
    color:#C1282A;
    border:none;
    padding:15px 35px;
    border-radius:8px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.home-btn:hover{
    transform:translateY(-3px);
}