.notifications{

    margin-top:40px;

    background:#fff;

    border-radius:15px;

    padding:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.notification-header{

    margin-bottom:20px;

}

.notification-header h2{

    color:#222;

}

.notification-item{

    display:flex;

    align-items:flex-start;

    gap:18px;

    padding:18px 0;

    border-bottom:1px solid #eee;

}

.notification-item:last-child{

    border-bottom:none;

}

.icon{

    width:45px;

    height:45px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#fff;

    padding:12px;

}

.red{

    background:#dc3545;

}

.blue{

    background:#0d6efd;

}

.orange{

    background:#fd7e14;

}

.green{

    background:#198754;

}

.notification-item h4{

    margin-bottom:5px;

    color:#222;

}

.notification-item p{

    color:#666;

    margin-bottom:5px;

}

.notification-item span{

    color:#999;

    font-size:13px;

}